<div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.details.name }}</td>
          <td>{{ user.details.lastname }}</td>
          <td>{{ user.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  