.card {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
}

.content {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}
  
  .button-container {
    margin-top: 16px;
  }

  .full-width-input {
    width: 100%;
  }

  .register-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer; 
  }
  
  .register-link:hover {
    color: darkblue; 
  }

.alert-warning{
  color: red;
}

.actions-center{
  text-align: center;
}
